.App {
  background: url("./images/GettyImages.webp");
  background-repeat:no-repeat;
  background-size: cover;
  height: 110vh;
  width: 101%;
  /* background-color: #b3e5fc; */
}

.sticky-header {
  background-color: #000;
  color: #fff;
  width:100%;
  position: fixed; 
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  text-align:left;
  letter-spacing: 3px;
 }

.weather {
  text-align: center;
  padding-top: 130px;
}

.userInput {
  height: 30px;
  width: 13%;
  border: none;
  border-radius: 10px;
  outline: none;
  text-indent:20px;
}

.search-btn {
  width:90px;
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-left: 3px;
  background: green;
  color: white;
}

.weather-result {
  width: 25%;
  height: 45vh;
  margin: auto;
  margin-top: 40px;
  padding-top: 35px;
  display: block;
  overflow: hidden;
  border-radius: 20px;
  /* box-shadow: -1px 9px 22px 14px #395FB3; */
  box-shadow: -1px -9px 22px 14px #000000;
}

.weather-result img {
  width: 50%;
  margin: auto;
  display: block;
  margin-top: -80px;
}


.detail {
  margin-top: -55px;
  font-size: 1.2rem;
  text-align: center;
}

.weather-result p {
  color: blue;
}

.weekly-result div {
  width: 13%;
  height: 20vh;
  margin-top: 40px;
  margin-left: 20px;
  display: block;
  overflow: hidden;
  float: left;
  text-align: center;
  border-radius: 20px;
  box-shadow: -1px 9px 22px 14px #000000;
}

.weekly-result div p {
  /* margin-top: 150px; */
  line-height: 0.8;
  font-weight: bold;
}




