.App {
  background: url("./images/weather_bg.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  height: 110vh;
}

.App h1 {
  background-color: #000000;
  color: white;
  padding: 30px 40px;
  font-weight: bold;
  text-decoration: underline;
}

.weather {
  text-align: center;
}

.userInput {
  height: 30px;
  width: 13%;
  border: none;
  border-radius: 10px;
}

.search-btn {
  width:90px;
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-left: 3px;
  background: #f44336;
  color: white;
}

.weather-result {
  width: 25%;
  height: 60vh;
  margin-top: 40px;
  padding-top: 10px;
  margin-left: 710px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: -1px 9px 22px 14px #395FB3; 
  box-shadow: -1px 9px 22px 14px #395FB3;
}

.weather-result img {
  margin-top: -130px;
  width: 75%;
}


.detail {
  margin-top: -60px;
  font-size: 1.2rem;
}

.weather-result p {
  color: blue;
}